
.config-page {
    .header {
        .page-title {
            color: #fff;
            font-size:24px;
            font-weight: bold;
            float: left;
            margin-right: 30px;
        }
        .right-content {
            float: right;
        }
    }
    .content {
        display: flex;
        min-height: 540px;
        .components-panel {
            width:240px;
            background: rgb(28, 31, 53);
            padding: 0 20px;
            .components {
                display: flex;
                flex-wrap: wrap;
                .component-item {
                    width:80px;
                    margin: 20px 20px 0 0;
                }
            }
        }
        .display-panel {
            flex: 1;
            box-sizing:border-box;
            background: rgb(50, 52, 92);
            padding: 0 20px;
            text-align:center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .form-wrapper {
                width:500px;
            }
        }
        .configuration-panel {
            width:360px;
            background: rgb(28, 31, 53);
            padding: 0 20px;
        }
    }
    .panel-title {
        font-size: 16px;
        color:#FFF;
        padding:20px 0;
        font-weight: bold;
    }
    .field-item {
        margin-top:10px;
    }
    .ant-form-item-label {
        label {
            color: #fff;
        }
    }
}